langchain
langchain_community
boto3
awscli
faiss-cpu
langchain-text-splitters
numpy
streamlit
pypdf
langchain-aws
pydub
speechrecognition
playsound
youtube-search
pyttsx3
yt_dlp
google-api-python-client 
librosa 
rake-nltk
pinecone 
pinecone-plugin-inference
langchain_pinecone